# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Whisper models cache
models/

# Output files
output/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# raw files
**/*.mp4